<!DOCTYPE html>
<html lang="id">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Simplified AES (S-AES)</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>



<body>

    <nav class="navbar navbar-dark bg-dark shadow">

        <div class="container">

            <span class="navbar-brand mb-0 h1">

                🔐 Simplified AES (S-AES)

            </span>

        </div>

    </nav>

    <div class="container py-4">

        {% block content %}
        {% endblock %}

    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <div id="toast"></div>

</body>

</html>